/* CSS Document */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
background: url(../img/bg.jpg) top left no-repeat !important;
background-size:100% auto;
}

h1.ui-title {font-size:24px !important;}        
        
.logo {
padding:10px 0;
}
.logo img {width:100%;height:auto;}
li {
    backgound:none !important;

}

input.error {

-moz-box-shadow: 0 0 12px #c00;
-webkit-box-shadow: 0 0 12px #c00;
box-shadow: 0 0 12px #c00;
}

label.error {margin-top:10px;color:#c00;dislpay:block;}

p {font-size:16px;}

/* Play */

#complete {border-left:5px solid #339900;border-right:5px solid #c00;height:12px;background:#fff url(../img/finish-line.gif) center right no-repeat !important;
background-size:12px auto;width:inherit;}
#complete div {height:12px;background:#eeee00;width:0%;float:left;}
#stopwatch {
    font-size:3em;
    padding:10px 0;
    text-align:center;
    color: #A3D900;
}
.penalty {
    color:#c00 !important;
    }
.penalty-color {background:#c00 !important; }
    
#penalty-notice {
    font-size:3em;
    color:#c00;
    text-align:center;
    display:none;
    opacity:0.6;
}

#game {
    
    background-size:contain;
    position:relative;
}

#game #content {padding:0;}

#disc { 
    background:red;
    height:100px;
    width:100px;
    -moz-border-radius:64px;
    -webkit-border-radius:64px;
    background: url(../img/object.png) top left no-repeat;
    background-size:contain;
    position:absolute;
    z-index:2;
}

#introArea {padding:40px 0;}
#gameArea { display: none;}

#geostatus {position:absolute;top:40px;font-size:10px;}

#target_zone {
    background:#eeee00;
    height:180px;
    width:180px;
    -moz-border-radius:180px;
    -webkit-border-radius:180px;
    margin: 70px auto 0 auto;
    z-index:1;
    opacity:0.5;
    moz-opacity:0.2;
   }
   
#box {
    position:relative;
    width:100%;
    height:340px;
    border:1px solid #c00;    
 }

 #btns {padding:5px 0;}

.fl {float:left;}
.fr {float:right;}


table {width:100%;font-size: 16px;}
th {font-weight:bold;background-color: #ffffff;}
td {width:30%;padding:8px;text-align:center;background-color: #ffffff;}

a.btn-home { 
    background: url(../img/icon-home.png) center center no-repeat;
    background-size:100% auto;
    height:30px;width:30px;
    margin:0 auto;
}

#footer {text-align:center;}

[data-role=page] {
  min-height: 100%;
  position: relative;
}

[data-role=content] {
  padding-bottom: 30px; /* based on how tall your footer is and how much gap you want */
  min-height:260px;
}

[data-role=footer] {
  position: absolute;
  text-align:center;
  bottom: 0;
  width: 100%;
  height: 30px /* this can be configurable, or omitted, as long as the above padding-bottom is at least as much as the height of the footer is */
}