<?xml version='1.0' encoding='utf-8'?>
<widget id="au.com.rodegoagency.puckoff" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PuckOff</name>
    <description>
        A simple game exploring accelerometer, geolocation and local storage.
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="EnableLocation" value="true" />
    <preference name="target-device" value="handset" />
    <preference name="Orientation" value="portrait" />
    <content src="index.html" />
    
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
</widget>
